<section class="section experiences-section">
	<h2 class="section-title"><i class="fa fa-certificate"></i>Certifications</h2>

	<div class="item">
		<div class="meta">
		<div class="upper-row">
			<h3 class="job-title">Java Lambdas and Streams</h3>
			<div class="time">August 2015</div>
		</div><!--//upper-row-->
		<div class="company"><a href="https://dl.dropboxusercontent.com/u/41074742/lambdamooc.pdf"
			target="_blank">Oracle</a></div>
		</div><!--//meta-->
	</div><!--//item-->

	<div class="item">
		<div class="meta">
		<div class="upper-row">
			<h3 class="job-title">Java Business Component</h3>
			<div class="time">May 2014</div>
		</div><!--//upper-row-->
		<div class="company">Generazione Vincente, Rome, P02714NAPF0493</div>
		</div><!--//meta-->
	</div><!--//item-->

	<div class="item">
		<div class="meta">
		<div class="upper-row">
			<h3 class="job-title">Java Web Oriented</h3>
			<div class="time">March 2014</div>
		</div><!--//upper-row-->
		<div class="company">Generazione Vincente, Rome, P02714NAPF0484</div>
		</div><!--//meta-->
	</div><!--//item-->

</section><!--//section-->
