<section class="section experiences-section">
	<h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

	<div class="item">
		<div class="meta">
		<div class="upper-row">
			<h3 class="job-title">Intern</h3>
			<div class="time">September 2016</div>
		</div><!--//upper-row-->
		<div class="company">SpinVector, Benevento</div>
		</div><!--//meta-->
		<div class="details">
			<p>I have worked as a programmer for <a href="http://http://spinvector.it/"
			target="_blank">SpinVector</a>, developing game libraries with C# and
			<a href="https://www.xamarin.com/" target="_blank">Xamarin</a>.</p>
		</div><!--//details-->
	</div><!--//item-->

	<div class="item">
		<div class="meta">
		<div class="upper-row">
			<h3 class="job-title">Full Stack Developer</h3>
			<div class="time">June 2014 - March 2015</div>
		</div><!--//upper-row-->
		<div class="company">Rosso Music Lab, Rome</div>
		</div><!--//meta-->
		<div class="details">
			<p>I have worked as a full stack developer for <a href="https://www.rossomusiclab.it/"
			target="_blank">Rosso Music Lab</a>, developing a web application with Java and <a
			href="https://projects.spring.io/spring-framework/" target="_blank">Spring</a>.</p>
		</div><!--//details-->
	</div><!--//item-->
</section><!--//section-->
