<section class="section experiences-section">
	<h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

	<div class="item">
		<div class="meta">
		<div class="upper-row">
			<h3 class="job-title">Graduate Research Engineer</h3>
			<div class="time">April 2017 - present</div>
		</div><!--//upper-row-->
		<div class="company">Imagination Technologies, Kings Langley</div>
		</div><!--//meta-->
		<div class="details">
			<p>I'm working for <a href="https://www.imgtec.com/"
			target="_blank">Imagination Technologies</a>, improving and developing
			new 3D/2D graphics technologies and techniques.</p>
		</div><!--//details-->
	</div><!--//item-->

	<div class="item">
		<div class="meta">
		<div class="upper-row">
			<h3 class="job-title">Intern</h3>
			<div class="time">September 2016</div>
		</div><!--//upper-row-->
		<div class="company">SpinVector, Benevento</div>
		</div><!--//meta-->
		<div class="details">
			<p>I have worked as a programmer for <a href="http://spinvector.it/"
			target="_blank">SpinVector</a>, developing game libraries with C# and
			<a href="https://www.xamarin.com/" target="_blank">Xamarin</a>.</p>
		</div><!--//details-->
	</div><!--//item-->
</section><!--//section-->
