<section class="section projects-section">
	<h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
	<div class="intro">
		<p>This is a list of projects developed during university courses or in my spare time.</p>
	</div><!--//intro-->

	<div class="item">
		<span class="project-title">
		<a href="https://github.com/Fahien/sunspot">SunSpoT</a></span> - <span
			class="project-tagline">A 3D engine capable of <a
			href="https://github.com/Fahien/stereoscopic-rendering" target="_blank">stereoscopic rendering</a>,
 			developed with C++, OpenGL, and CMake.</span>
	</div><!--//item-->
	<div class="item">
		<span class="project-title">
		<a href="https://github.com/Fahien/vegolution" target="_blank">Vegolution</a></span> - <span
			class="project-tagline">Arcade game set in a post-apocalyptic future with Vegetables and
			other abominable beings, developed with C++ and <a href="http://www.cocos2d-x.org/"
				target="_blank">Cocos2d-x</a>.</span>
	</div><!--//item-->
	<div class="item">
		<span class="project-title"><a href="https://github.com/Fahien/spacefloat"
			target="_blank">SpaceFloat</a></span> - <span class="project-tagline">Delivery service
			game set in the space developed with Java, <a href="https://libgdx.badlogicgames.com/"
			target="_blank">libGDX</a> and <a href="https://www.blender.org/"
			target="_blank">Blender</a>.</span>
	</div><!--//item-->
	<div class="item">
		<span class="project-title"><a href="http://www.fahien.me/western-lion/"
			target="_blank">Western Lion</a></span> - <span class="project-tagline">Casual
			<em>spaghetti-western</em> game developed with Java and
			<a href="https://libgdx.badlogicgames.com/" target="_blank">libGDX</a></span>.
	</div><!--//item-->
</section><!--//section-->
